<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">ngx-<span>admin</span></a>
  </div>
</div>

<div class="header-container">
  <div>
    <div class="buttons-row">
      <button nbButton  outline [size] = 'small'>Login</button>
    <div class="buttons-row">
      <button nbButton  outline [size] = 'small'>Register</button>
  </div>
</div>
